{% include "header.html" %}
<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <!-- <img class="mb-4 img-error" src="assets/img/error-404-monochrome.svg" /> -->
                            <h1 class="display-1">404</h1>
                            <p class="lead">Your request was not found on this server.</p>
                            <hr>
                            <form action="/search" method="get" id="search_form" class="d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 input-group">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="place" placeholder="You can try searching..." aria-label="Search" aria-describedby="basic-addon2" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" value="Submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <a href="/">
                                <br>
                                <i class="fas fa-arrow-left mr-1"></i>
                                Or, You Can Return to the Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutError_footer">
        {% include "footer.html" %}
    </div>
    </body>
</html>
