{% include "header.html" %}
{% include "topnav.html" %}
{% include "sidenav.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">About This Project</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">All about this project</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-hand-sparkles mr-1"></i>
                                        Hi there
                                    </div>
                                    <div class="card-body">
                                        Nice to meet you. In these unforseen and dark times with the ongoing pandemic taking innocent lives, the best thing to do is isolate youself. 
                                        Reduce the risk of infection and spreading the virus, stay at home! Wear a mask when going out!
                                        <br><br>
                                        This is a Python web application which uses a large dataset consisting of COVID-19 data from many countries and regions. The aims of this projects are
                                        to pratise Python and learn to use the Flask and Pandas libraries.
                                        <br><br>
                                        The code may not be the best quality as this is my first every fully-fledged python project. 
                                        You can help me improve this code. <a href="https://www.sidsidsid.cf/contact/" target="_blank">Click here</a> to contact me. 
                                        <a href="https://github.com/SidSidSid16/COVID19-Tracker" target="_blank">Click here</a> to go to the repository where the source code is hosted
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-file-csv mr-1"></i>
                                        The COVID-19 Dataset That I Am Using
                                    </div>
                                    <div class="card-body">
                                        I am using a dataset provided and maintained by Microsoft Bing. You can access it by <a href="https://github.com/microsoft/Bing-COVID-19-Data" target="_blank">clicking here</a>. 
                                        This dataset consists of around 500k rows, more rows (like hundreds of them) are added everyday. For the most part, it's alright to use. However, there are many
                                        inconsistencies. The reason why I decided not to use an API was because I wanted to try out and learn Pandas and see how it and Python performs with enormous datasets such as this.
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-tools mr-1"></i>
                                        Other Tools Which This Program Runs on
                                    </div>
                                    <div class="card-body">
                                        I am using the <a href="https://github.com/StartBootstrap/startbootstrap-sb-admin" target="_blank">SB Admin</a> Bootstrap template, which I have mostly editted to suit the layout 
                                        that I had in mind. For more details on the Python libraries I use, <a href="https://github.com/SidSidSid16/COVID19-Tracker/network/dependencies" target="_blank">click here.</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include "footer.html" %}
            </div>
        </div>

    </body>
</html>
