{% include "header.html" %}
{% include "topnav.html" %}
{% include "sidenav.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Report a Bug</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">A whole program with absolutely no bugs, a programmer's dream</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-bug mr-1"></i>
                                        Spotted a bug?
                                    </div>
                                    <div class="card-body">
                                        <a href="https://www.sidsidsid.cf/contact/" target="_blank">Click here</a> to go to a contact form where you can fill out the bug report. Help is greatly appreciated!
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-code mr-1"></i>
                                        View the source code
                                    </div>
                                    <div class="card-body">
                                        <a href="https://github.com/SidSidSid16/COVID19-Tracker" target="_blank">Click here</a> to go to the repository where the source code for this project is published. You can contribute by improving the <s>terrible</s> code.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include "footer.html" %}
            </div>
        </div>

    </body>
</html>
