{% include "header.html" %}
{% include "topnav.html" %}
{% include "sidenav.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Directory of All Places</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Search for countries and regions to get the latest data</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table mr-1"></i>
                                        Directory
                                    </div>
                                    <div class="card-body">
                                        {% for table in tables %}
                                            {{ table|safe }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include "footer.html" %}
            </div>
        </div>

    </body>
</html>
